<div class="tab-pane fade active show" >
    <!-- Notification START -->
    <div class="card">
      <!-- Card header START -->
      <div class="card-header border-0 pb-0">
        <h5 class="card-title">Notification</h5>
        <p class="mb-0">Edit the notification settings as your prefarence.</p>
      </div>
      <!-- Card header START -->
      <!-- Card body START -->
      <div class="card-body pb-0">
        <!-- Notification START -->
        <ul class="list-group list-group-flush">
            
          <!-- Notification list item -->
          <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
            <div class="me-2">
              <h6 class="mb-0">Likes and Comments</h6>
              <p class="small mb-0">Allow to receive the like and comment notices</p>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="NotiSwitchCheckChecked" checked="">
            </div>
          </li>
          
        </ul>
        <!-- Notification END -->
        
      </div>
    <!-- Card body END -->
    <!-- Button save -->
    <div class="card-footer pt-0 text-end border-0">
      <button type="submit" class="btn btn-sm btn-primary mb-0">Save changes</button>
    </div>
  </div>
    <!-- Notification END -->
  </div>