<div id="divchanger">
    <!-- Add Comment Form -->
    <form class="nav nav-item w-100 position-relative mb-2" method="POST" novalidate>
        {% csrf_token %}
        <textarea name="content" data-autoresize="" class="form-control pe-5 bg-light" rows="1" placeholder="Add a comment..."></textarea>
        <button
        hx-post="{% url "create_comments" data.uid %}"
        hx-target="#divchanger"
        hx-swap="innerHTML"
        class="nav-link bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0" type="submit">
            <i class="bi bi-send-fill"> </i>
        </button>
    </form>
    
        <ul class="comment-wrap list-unstyled">
            {% for comment in data.comments.all %}
        
            <!-- Comment item START -->
            {% if comment.parent is None %}
            
            <li class="comment-item">
                <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs">
                        <a href="#!"><img class="avatar-img rounded-circle" src="{{comment.user.profile_picture.url}}" alt=""></a>
                    </div>
                    <!-- Comment by -->
                    <div class="ms-2">
                        <div class="bg-light p-3 rounded">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-1"> <a href="#">{{comment.user.first_name}}</a> </h6>
                                <small class="ms-2">1 hr</small>
                            </div>
                            <p class="small mb-0">{{comment.content}}</p>
                        </div>
                        <!-- Comment react -->
                        <ul class="nav nav-divider pt-2 small">
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Like (1)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"
                                hx-get="{% url "create_reply" comment.uid%}"
                                hx-target="#x-{{comment.uid}}"
                                hx-swap="innerHTML"
                                > Reply</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" 
                                hx-get="{% url "view_replies" comment.uid %}" 
                                hx-target="#random-{{comment.uid}}" 
                                hx-swap="innerHTML" 
                                >View {{ comment.replies.count }} replies</a>
                                
                            </li>
                        </ul>
                        <div id="x-{{comment.uid}}"></div>
                        <!-- Placeholder for nested comments -->
                        <div id="random-{{comment.uid}}"></div>
                    </div>
                </div>
            </li>
            {% endif %}
            <!-- Comment item END -->
        
            {% endfor %}
        </ul>
    
</div>